<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="site.webmanifest">

    <title><!-- __TITLE__ --></title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/magick.css"
        onload="this.rel='stylesheet';this.onload=null" />
    <noscript>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magick.css" />
    </noscript>
    <link rel="stylesheet" href="css/style.css">

    <script type="importmap">
        {}
    </script>

    <script type="module">
        import { main } from '@fusionstrings/1729';
        globalThis.addEventListener("DOMContentLoaded", main);
    </script>
</head>

<body>
    <header><!-- __HEADER__ --></header>
    <main><!-- __MAIN__ --></main>
    <footer><!-- __FOOTER__ --></footer>
</body>

</html>